
<h2 class="mt-3">Events You Created</h2>
<%if current_user.events.count>0%>
<% current_user.events.each do |event| %>
 <p> <%= link_to  event.description, event_path(event) ,class:'lead text-dark'%></p>
<% end %>
<%else%>
<p class="lead">You created zero events</p>
<%end%>
<h2>Events to Attend : </h2>


<%if current_user.attended_events.count>0%>
 You have <%= pluralize(current_user.attended_events.count,'event')%> to attend.
<ul>
  <li class="jumbotron d-flex justify-content-between p-2">
  
    <%@current_user.attended_events.each do |event|%>
    <%= link_to  event.description, event_path(event) %>
   <span> ON: <%=event.event_date.strftime('%FT%T')%></span>
   <span> BY:  <%=event.creator.username.capitalize%></span>
    <%end%>
  </li>

</ul>
<%else%>
<p class ="lead">You have no events to attend</p>
<%end%>

