<h1>Create Event</h1>
<%if @event.errors%>
<%@event.errors.full_messages.each do |error|%>
<%=error%>
<%end%>
<%end%>

<%= form_for @event do |f| %>
<fieldset class="form-group">
 <%= f.label :description, "Description" ,class:'form-control'%>
 <%= f.text_field :description ,class:'form-control'%>
</fieldset>
<fieldset class="form-group">
 <%= f.label :event_date, "Event date",class:'form-control' %>
 <%= f.date_field :event_date,class:'form-control' %>
</fieldset>
<%= f.submit class:'form-control btn btn-primary'%>

<% end %>
