<div class>
  <div class="d-flex justify-content-between align-content-center my-3 p-2 jumbotron">
    <p class="lead"><%= @event.description %></p>
    <p class="lead"><%= @event.event_date %></p>
    <p class="lead">Organised by <%= @event.creator.username.capitalize %></p>
  </div>
  <h2 class="title">Event Attendees</h2>

   <% @event.event_attendees.each do |attendee|%>

   <p><%=attendee.username%></p>
   <%end%>
  
 
 <div>
    <h2>Invite Freinds</h2>
    <div class="form-group">
      <%= form_tag invite_path do %>
      <%= label_tag "User Name",nil,class:'form-control' %>
      <%= text_field_tag "username",nil,class:"form-control"%>
    </div>
    <div class="form-group">
      <%=submit_tag 'Invite' ,class:"form-control btn btn-primary" %>
      <%=hidden_field_tag  "event_id" ,"#{@event.id}"%>
    </div>
 </div>
<% end %>
 
</div>