<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <%if signed_in?%>
  <%=link_to current_user.username.capitalize , current_user,class:'navbar-brand'%>
  <% else %>
   <p class="navbar-brand">PrivateEvents</p>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <%=logged_in_user_log?%>
      <%=logged_in_user_all_events?%>
      <%=logged_in_user_create_event?%>
      <%=logged_in_user_avatar?%>
    </ul>
  </div>
</nav>
<% if flash[:danger]%>
  <div class="container">
  <p class="alert alert-danger  my-3 p-3">
  <%=flash[:danger]%></p>
   </div>
  <%elsif flash[:success]%>
  <div class="container">
  <p class="alert alert-success  my-3 p-3">
  <%=flash[:success]%></p>
   </div>
  <%end%>
 
   <div class="container"> 
   <%= yield %>
   </div>
  </body>
</html>
